<div fxLayout="column" fxLayoutAlign="start stretch">
  <div
    fxLayout="rox"
    fxLayout.xs="column"
    fxLayoutAlign="start center"
    class="margin-100-tb"
  >
    <div class="header-logo">
      <img src="assets/images/Logo.png" alt="Passticket" class="logo" />
    </div>
    <div class="header-title margin-20-l">
      <h1>Encontre ingressos para turnês, shows e eventos em sua cidade.</h1>
      <span
        >Busque uma cidade, uma data, um lugar famoso ou seu artista
        favorito!</span
      >
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" class="searchBar">
    <div fxFlex="100%" fxFlex.gt-sm="75%">
      <app-search-bar></app-search-bar>
    </div>
  </div>

  <mat-card>
    <mat-card-content>
      <h2>Passticket recomenda</h2>
      <app-recommended
        [events]="recommended"
        *ngIf="recommended"
      ></app-recommended>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <h2>Próximos eventos</h2>
      <app-events-list [events]="events" *ngIf="events"></app-events-list>
    </mat-card-content>
  </mat-card>
</div>
