.home-header {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../../assets/images/concert.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1rem;
  padding: 1.5rem 2rem;
  color: #fff;

  h1 {
    margin-top: 0;
    font-size: 22px;
  }

  p {
    line-height: 24px;
    margin: 0;
  }
}

mat-card {
  margin-bottom: 1rem;

  h2 {
    font-size: 24px;
    font-weight: 500;
  }
}

.header-logo {
  border-right: 1px solid black;
}

.logo {
  width: 220px;
}

.header-title {
  h1 {
    line-height: 1.25;
    margin: 0;
    font-size: 24px;
    font-weight: 700;
  }
}

.searchBar {
  margin-bottom: 100px;

  > div {
    background-color: white;
    padding: 0 15px;
    border-radius: 10px;
  }
}

.searchField {
  width: 100%;

  &.mat-form-field-appearance-outline {
    .mat-form-field-wrapper {
      padding-bottom: 0 !important;
    }
  }
}

@media only screen and (max-width: 600px) {
  .header-logo {
    border-right: none;
    margin-bottom: 100px;
  }

  .searchBar {
    margin-bottom: 1rem;
  }
}
