<div fxLayout="column" fxLayoutAlign="start stretch">
  <div
    fxLayout="rox"
    fxLayout.xs="column"
    fxLayoutAlign="start center"
    class="header-home"
  >
    <div class="header-logo">
      <img src="assets/images/Logo.png" alt="Passticket" class="logo" />
    </div>
    <div class="header-title margin-20-l">
      <h1>
        Encontre todos os ingressos das plataformas digitais em um só lugar
      </h1>
      <span
        >Busque uma cidade, uma data, um lugar famoso ou seu artista
        favorito!</span
      >
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" class="searchBarComponent">
    <div fxFlex="100%">
      <app-search-bar></app-search-bar>
    </div>
  </div>

  <!-- <mat-card>
    <mat-card-content>
      <h2>Passticket recomenda</h2>
      <app-recommended
        [events]="recommended"
        *ngIf="recommended"
      ></app-recommended>
    </mat-card-content>
  </mat-card> -->

  <app-events-list></app-events-list>
</div>
