:host::ng-deep {
  agm-map {
    height: 100%;

    mat-card {
      border: 0 !important;
      box-shadow: none !important;
      padding: 0;
      overflow: hidden;
      background: transparent !important;

      mat-card-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 230px;
      }
    }

    .gm-style .gm-style-iw-c {
      // background: rgba(237, 237, 237, 0.7);
      padding: 12px !important;
    }

    .gm-style .gm-style-iw-d {
      overflow: hidden !important;
    }
  }

  .header-image {
    background-size: cover;
  }
}
