<div class="margin-16-b">
  <app-search-bar
    [stringToSeek]="stringToSeek"
    [dates]="dates"
    [placeToSeek]="place"
  ></app-search-bar>
</div>

<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [scrollwheel]="false"
  (mapClick)="mapClick($event)"
>
  <agm-marker
    [latitude]="currentLat"
    [longitude]="currentLong"
    [iconUrl]="'assets/images/red-pin.png'"
  ></agm-marker>
  <agm-marker
    [latitude]="latSearch"
    [longitude]="lngSearch"
    [iconUrl]="'assets/images/red-pin.png'"
  ></agm-marker>
  <ng-container *ngIf="events">
    <agm-marker
      *ngFor="
        let event of events;
        let i = index;
        trackBy: i | filter: stringToSeek
      "
      [latitude]="event.latitude"
      [longitude]="event.longitude"
      (markerClick)="markerClick(iw)"
      [iconUrl]="'assets/images/blue-pin.png'"
    >
      <agm-info-window [disableAutoPan]="true" [isOpen]="false" #iw>
        <mat-card>
          <mat-card-header>
            <div
              mat-card-avatar
              class="header-image"
              [style.background-image]="'url(' + event.poster + ')'"
            ></div>
            <mat-card-title class="margin-no">{{
              event.titulo
            }}</mat-card-title>
            <mat-card-subtitle class="margin-no">{{
              eventDate(event.d_date) | date: "dd/MM"
            }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions>
            <button mat-button color="primary" (click)="goToRouter(event.id)">
              Encontrar ingresso
            </button>
          </mat-card-actions>
        </mat-card>
      </agm-info-window>
    </agm-marker>
  </ng-container>
</agm-map>
