<mat-card>
  <mat-card-content>
    <h2>Próximos eventos</h2>
    <ng-container *ngIf="dataSources; else elseNoDataSources">
      <cdk-virtual-scroll-viewport
        #scrollViewport
        itemSize="50"
        class="example-viewport"
      >
        <div
          *cdkVirtualFor="
            let dataSource of dataSources;
            let i = index;
            trackBy: trackByFn;
            templateCacheSize: 0;
            let last = last
          "
          class="example-item"
        >
          <ng-container *ngIf="dataSource; else elseLoadingCard">
            <div
              fxLayout="row"
              fxLayout.xs="column"
              fxLayoutAlign="space-between stretch"
              fxLayoutGap="1rem"
              class="item"
            >
              <div
                fxLayout="row"
                fxLayoutAlign="space-between stretch"
                fxLayoutGap="1rem"
                fxFlex
              >
                <div
                  class="item-thumbnail"
                  [style.background-image]="'url(' + dataSource.poster + ')'"
                ></div>
                <div
                  fxLayout="column"
                  fxLayoutAlign="center center"
                  class="item-date"
                  fxHide.sm
                  fxHide.xs
                >
                  <div class="month">{{ dataSource.d_date | date: "MMM" }}</div>
                  <div class="day">{{ dataSource.d_date | date: "dd" }}</div>
                </div>
                <div
                  fxFlex="80"
                  fxFlex.sm="100"
                  fxFlex.xs="100"
                  fxLayout="row"
                  fxLayout.sm="column"
                  fxLayout.xs="column"
                  fxLayoutAlign="space-between center"
                  fxLayoutAlign.sm="center start"
                  fxLayoutAlign.xs="center start"
                >
                  <div>
                    {{ dataSource.titulo }}
                  </div>
                  <div
                    fxLayout="column"
                    fxLayoutAlign="center end"
                    fxLayoutAlign.sm="center start"
                    fxLayoutAlign.xs="center start"
                  >
                    <div>
                      {{ dataSource.local }}
                    </div>
                    <div>
                      <span fxHide.lg fxHide.md>
                        {{ dataSource.d_date | date: "MMM" }}
                        {{ dataSource.d_date | date: "dd" }}
                      </span>
                      {{ dataSource.hora_inicio }}
                    </div>
                  </div>
                </div>
              </div>

              <div
                fxFlex="15"
                fxFlex.sm="25"
                fxFlex.xs="25"
                fxLayout="column"
                fxLayoutAlign="center stretch"
              >
                <button
                  mat-stroked-button
                  color="primary"
                  (click)="goToRouter(dataSource.id)"
                >
                  Acessar
                </button>
              </div>
            </div>
          </ng-container>

          <ng-template #elseLoadingCard>
            <app-events-list-skeleton-loader
              [repeat]="1"
            ></app-events-list-skeleton-loader>
          </ng-template>
          <mat-divider *ngIf="!last"></mat-divider>
        </div>
      </cdk-virtual-scroll-viewport>
    </ng-container>

    <ng-template #elseNoDataSources>
      <app-events-list-skeleton-loader
        [repeat]="7"
      ></app-events-list-skeleton-loader>
    </ng-template>
  </mat-card-content>
</mat-card>
