.example-viewport {
  height: 1060px;
}
.item {
  padding: 0.5rem 0;
}
.item-thumbnail {
  width: 70px;
  height: 70px;
  border-radius: 3px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.item-date {
  font-weight: 500;
  .month {
    font-size: 11px;
  }
  .day {
    font-size: 25px;
  }
}
