<cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
  <div
    *cdkVirtualFor="let item of items; let i = index; templateCacheSize: 0"
    class="example-item"
  >
    <div
      fxLayout="row"
      fxLayoutAlign="space-between stretch"
      fxLayoutGap="1rem"
      class="item"
    >
      <div>
        <div
          class="item-thumbnail"
          [ngStyle]="{ 'background-image': 'url(' + item.poster + ')' }"
        ></div>
      </div>
      <div
        fxLayout="column"
        fxLayoutAlign="center center"
        class="item-date"
        fxHide.sm
        fxHide.xs
      >
        <div class="month">{{ item.data | date: "MMM" }}</div>
        <div class="day">{{ item.data | date: "dd" }}</div>
      </div>
      <div
        fxFlex="70"
        fxLayout="row"
        fxLayout.sm="column"
        fxLayout.xs="column"
        fxLayoutAlign="space-between center"
        fxLayoutAlign.sm="center start"
        fxLayoutAlign.xs="center start"
      >
        <div>
          {{ item.titulo }}
        </div>
        <div
          fxLayout="column"
          fxLayoutAlign="center end"
          fxLayoutAlign.sm="center start"
          fxLayoutAlign.xs="center start"
        >
          <div>
            {{ item.local }}
          </div>
          <div>
            <span fxHide.lg fxHide.md>
              {{ item.data | date: "MMM" }} {{ item.data | date: "dd" }}
            </span>
            {{ item.hora_inicio }}
          </div>
        </div>
      </div>
      <div
        fxFlex="15"
        fxFlex.sm="25"
        fxFlex.xs="25"
        fxLayout="column"
        fxLayoutAlign="center stretch"
      >
        <button
          mat-stroked-button
          color="primary"
          (click)="goToRouter(item.titulo)"
        >
          Acessar
        </button>
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>
</cdk-virtual-scroll-viewport>
