.header {
  background: #ededed;
  .logo {
    height: 38px;
    opacity: 1 !important;
  }
  border-bottom: 1px solid #ededed;
}

.header__navbar {
  width: 100%;
}

mat-progress-bar {
  position: absolute;
}
