<div class="container politics">
  <div
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="1rem"
    class="padding-16 margin-16-tb"
  >
    <div [style.text-align]="'center'">
      <h1>TERMOS DE USO</h1>
    </div>

    <p>
      A PassTicket é um divulgador e agregador de ingressos de eventos, e
      oferece aos seus usuários acesso às informações dos mais variados tipos de
      eventos que ocorrem na sua cidade.
    </p>

    <p>
      Ao utilizar o nosso site, você confirma ter lido, compreendido e
      concordado com todos os termos e condições, assim como a política de
      privacidade.
    </p>

    <p>
      A PassTicket oferece em seu site um serviço de busca, através de coleta de
      informações de eventos, dentro de lojas “virtuais” de “vendas de
      ingressos”, apresentadas pela PassTicket, sem que haja qualquer
      possibilidade de se efetuar a compra diretamente pela PassTicket, a qual
      utiliza-se de “hiperlinks” para direcioná-lo (usuário) às lojas “virtuais”
      de “vendas de ingressos”.
    </p>

    <p>
      As informações sobre os produtos e/ou serviços oferecidos em cada um dos
      “sites” mencionados na PassTicket, são de responsabilidade exclusiva dos
      proprietários das lojas “virtuais” de “vendas de ingressos”.
    </p>

    <p>
      A PassTicket não é parte contratual em relação à venda de ingressos e
      todas e quaisquer reclamações do usuário relativas à venda dos ingressos
      devem ser apresentadas às lojas “virtuais” de “vendas de ingressos” e não
      à PassTicket.
    </p>

    <p>
      Por ser um site que disponibiliza gratuitamente serviço de apresentação de
      informações de eventos variados, advindos de lojas “virtuais” de “vendas
      de ingressos”, a PassTicket não se responsabiliza por compras efetuadas
      entre o usuário e as mesmas. Não garantindo, em qualquer hipótese, os
      produtos e/ou serviços adquiridos pelo usuário diretamente nessas lojas
      “virtuais” de “vendas de ingressos” e, ficando isento de quaisquer
      reivindicações ou ações judiciais propostas por usuários ou terceiros.
    </p>

    <p>
      A PassTicket não é responsável pela exatidão, qualidade, integridade,
      confiabilidade ou credibilidade do conteúdo fornecido por usuários e/ou
      lojas “virtuais” de “vendas de ingressos”.
    </p>

    <p>
      Todos os acordos que surgem através deste serviço são entre o usuário da
      PassTicket e a respectiva compra externa das lojas “virtuais” de “vendas
      de ingressos”. A PassTicket permanece sem nenhum envolvimento em tais
      arranjos contratuais, acordos e reivindicações entre o usuário da
      PassTicket e as respectivas lojas “virtuais” de “vendas de ingressos” de
      compra externa.
    </p>

    <p>
      A PassTicket não se responsabiliza por problemas técnicos que se encontrem
      fora de sua área ou por danos causados por força maior. A PassTicket não
      garante disponibilidade ininterrupta de dados e pode executar a manutenção
      técnica durante um período de tempo escolhido livremente.
    </p>
  </div>
</div>
