<mat-toolbar
  color="primary"
  fxHide.lg
  fxHide.md
  *ngIf="showLogo()"
  class="margin-no-b"
>
  <div
    fxLayout="row"
    fxLayoutAlign="center center"
    [routerLink]="['']"
    style="cursor: pointer"
  >
    <img src="assets/images/Logo_branco.png" alt="Passticket" class="logo" />
  </div>
</mat-toolbar>

<nav mat-tab-nav-bar mat-align-tabs="center">
  <a
    mat-tab-link
    class="logo"
    [routerLink]="'/'"
    *ngIf="showLogo()"
    fxHide.sm
    fxHide.xs
  >
    <img src="assets/images/Logo.png" alt="Passticket" class="logo" />
  </a>
  <a mat-tab-link [active]="activeLink('home')" [routerLink]="'/home'">
    <mat-icon>search</mat-icon>
    Busca de evento
  </a>
  <a mat-tab-link [active]="activeLink('explore')" [routerLink]="'/explore'">
    <mat-icon>place</mat-icon>
    Explore
  </a>
  <a mat-tab-link [active]="activeLink('resale')" (click)="openDialog()">
    <mat-icon>wifi_protected_setup</mat-icon>
    Revenda de ingresso
  </a>
</nav>

<mat-progress-bar
  mode="indeterminate"
  *ngIf="showLoadingProgressBar"
></mat-progress-bar>
