.searchBar {
  margin-bottom: 1rem;

  > div {
    background-color: white;
    padding: 0 15px;
    border-radius: 8px;
  }
}

.searchField {
  width: 100%;

  .mat-form-field-wrapper {
    padding-bottom: 0.84375em;
  }
}

@media only screen and (max-width: 960px) {
  .searchBar > div {
    padding-bottom: 1rem;
  }

  .searchButton {
    width: 100%;
    margin-bottom: 1rem;
  }

  .filterButton {
    padding-left: 0.1rem !important;
    margin-bottom: 0.5rem !important;
  }
}

.tooltip {
  font-size: 14px;
  color: #000;
}
