.search {
  @extend .search-bar;
  margin-right: 10px;
}
.date-interval {
  @extend .search-bar;
  margin-right: 10px;
}
.cities {
  @extend .search-bar;
  margin-right: 10px;
}
.search-bar {
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}
.dtpicker {
  .mat-date-range-input-separator {
    display: none;
  }
}
