<div class="cdk-virtual-scroll-data-source-example">
  <cdk-virtual-scroll-viewport
    orientation="horizontal"
    itemSize=""
    class="example-viewport"
  >
    <div *cdkVirtualFor="let item of items; let i = index" class="example-item">
      <mat-card
        class="recommended-card"
        [style.background-image]="'url(' + item.poster + ')'"
        (click)="goToRouter(item.id)"
      >
        <mat-card-content>
          <div class="shadow"></div>
          <div class="recommended-description">
            <div fxLayout="column" fxLayoutAlign="space-between start">
              <h2 style="margin-bottom: 0">{{ item.titulo }}</h2>
              <div>{{ item.hora_inicio }}</div>
              <div>{{ item.local }}</div>
            </div>
          </div>
          <div class="recommended-date">
            <div fxLayout="column" fxLayoutAlign="space-between center">
              <div>{{ item.d_date | date: "EEE" }}</div>
              <div>{{ item.d_date | date: "dd" }}</div>
              <div>{{ item.d_date | date: "MMM" }}</div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
