<ng-container *ngIf="dataSources; else elseNoDataSources">
  <cdk-virtual-scroll-viewport
    #scrollViewport
    itemSize="87"
    class="example-viewport"
    [perfectScrollbar]="{ minScrollbarLength: 30 }"
  >
    <mat-selection-list
      #dataSources
      [multiple]="false"
      *cdkVirtualFor="
        let dataSource of dataSources;
        let i = index;
        trackBy: trackByFn;
        templateCacheSize: 12;
        let last = last
      "
      class="example-item"
    >
      <mat-list-option *ngIf="dataSource; else elseLoadingCard">
        <div
          fxLayout="row"
          fxLayoutAlign="space-between stretch"
          fxLayoutGap="1rem"
          (click)="goToRouter(dataSource.id)"
        >
          <div
            class="item-thumbnail"
            [style.background-image]="'url(' + dataSource.poster + ')'"
          ></div>
          <div
            fxLayout="column"
            fxLayoutAlign="center center"
            class="item-date"
            fxHide.sm
            fxHide.xs
          >
            <div class="month">{{ dataSource.data | date: "MMM":"UTC" }}</div>
            <div class="day">{{ dataSource.data | date: "dd":"UTC" }}</div>
          </div>
          <div
            fxFlex
            fxLayout="row"
            fxLayout.sm="column"
            fxLayout.xs="column"
            fxLayoutAlign="space-between center"
            fxLayoutAlign.sm="center start"
            fxLayoutAlign.xs="center start"
          >
            <div class="item-titulo">
              {{ dataSource.titulo }}
            </div>
            <div
              fxLayout="column"
              fxLayoutAlign="center end"
              fxLayoutAlign.sm="center start"
              fxLayoutAlign.xs="center start"
            >
              <div class="item-local">
                {{ dataSource.local }}
              </div>
              <div>
                <span fxHide.lg fxHide.md>
                  {{ dataSource.data | date: "MMM":"UTC" }}
                  {{ dataSource.data | date: "dd":"UTC" }}
                </span>
                {{ dataSource.hora_inicio }}
              </div>
            </div>
          </div>

          <div
            fxFlex="15"
            fxHide.sm
            fxHide.xs
            fxLayout="column"
            fxLayoutAlign="center stretch"
          >
            <button mat-stroked-button color="primary">Acessar</button>
          </div>
        </div>
      </mat-list-option>

      <ng-template #elseLoadingCard>
        <app-events-thin-skeleton [repeat]="1"></app-events-thin-skeleton>
      </ng-template>
      <mat-divider *ngIf="!last"></mat-divider>
    </mat-selection-list>
  </cdk-virtual-scroll-viewport>
</ng-container>

<ng-template #elseNoDataSources>
  <app-events-thin-skeleton [repeat]="12"></app-events-thin-skeleton>
</ng-template>
