.example-viewport {
  height: 610px;
  overflow-x: hidden !important;
}
.item {
  padding: 0.5rem 0;
}
.item-thumbnail {
  width: 70px;
  height: 70px;
  border-radius: 3px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.item-date {
  font-weight: 500;
  .month {
    font-size: 11px;
  }
  .day {
    font-size: 25px;
  }
}

.mat-list-base {
  padding-top: 0px !important;
}

.mat-list-base .mat-list-item .mat-list-item-content-reverse,
.mat-list-base .mat-list-option .mat-list-item-content-reverse {
  padding: 0px !important;
}

.mat-list-option {
  height: auto !important;
  padding: 0.5rem 0 !important;
}

.item-titulo {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-local {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: end;
  max-width: 240px;
}

@media only screen and (max-width: 600px) {
  .item {
    padding: 2rem 0;
  }
}
