<form class="searchBar">
  <div
    fxFlex="100"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutGap="16px"
    fxLayoutGap.sm="0px"
    fxLayoutGap.xs="0px"
    fxLayoutAlign="start center"
    fxLayoutAlign.sm="center stretch"
    fxLayoutAlign.xs="center stretch"
  >
    <div fxFlex="100" fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field
        class="example-full-width"
        class="searchField"
        floatLabel="never"
        appearance="none"
      >
        <input
          type="text"
          placeholder="Pesquise o evento, festival ou show do seu artista favorito"
          aria-label="Number"
          matInput
          [formControl]="myControl"
        />
        <!-- <input
          type="text"
          placeholder="Pesquise o evento, festival ou show do seu artista favorito"
          aria-label="Number"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptions | async"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete> -->
      </mat-form-field>

      <button
        mat-icon-button
        color="primary"
        aria-label="calendario"
        (click)="picker.open()"
        #tooltip="matTooltip"
        matTooltip="Selecione o intervalo de datas"
        [matTooltipPosition]="'above'"
        matTooltipClass="tooltip"
      >
        <mat-icon>calendar_today</mat-icon>
      </button>
      <button
        mat-icon-button
        color="primary"
        aria-label="location"
        (click)="openDialog()"
        #tooltip="matTooltip"
        matTooltip="Selecione o local do evento"
        [matTooltipPosition]="'above'"
        matTooltipClass="tooltip"
      >
        <mat-icon>location_on</mat-icon>
      </button>
    </div>

    <div>
      <button
        mat-raised-button
        color="primary"
        class="searchButton"
        [routerLink]="[searchValidate() ? routePath : '']"
        [queryParams]="{
          begin: formatDate(date.value.begin),
          end: formatDate(date.value.end),
          location: place.value,
          latitude: location.value.latitude,
          longitude: location.value.longitude
        }"
      >
        Procurar
      </button>
    </div>
  </div>
</form>

<div *ngIf="inputDates.value || place.value">
  <mat-chip-list aria-label="filters selection" #chipList>
    <mat-chip
      color="primary"
      selected
      [removable]="true"
      (removed)="removeOption()"
      *ngIf="inputDates.value"
    >
      {{ inputDates.value }}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <mat-chip
      color="primary"
      selected
      [removable]="true"
      (removed)="removePlace()"
      *ngIf="place.value"
    >
      {{ place.value }}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</div>

<!-- Calendar dialog -->
<mat-form-field class="searchField" floatLabel="never" style="display: none">
  <input
    #inputDates
    matInput
    placeholder="Escolha o período"
    [satDatepicker]="picker"
    [formControl]="date"
    [readonly]="true"
    (focus)="picker.open()"
  />
  <sat-datepicker
    #picker
    touchUi
    [rangeMode]="true"
    [closeAfterSelection]="true"
  >
  </sat-datepicker>
  <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
</mat-form-field>
