<form class="searchBar">
  <div
    fxFlex="100"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutGap="16px"
    fxLayoutGap.sm="0px"
    fxLayoutGap.xs="0px"
    fxLayoutAlign="start center"
    fxLayoutAlign.sm="center stretch"
    fxLayoutAlign.xs="center stretch"
  >
    <div fxFlex="100">
      <mat-form-field
        class="example-full-width"
        class="searchField"
        floatLabel="never"
      >
        <input
          type="text"
          placeholder="Pesquise por cidade, lugar ou seu artista favorito"
          aria-label="Number"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptions | async"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-form-field class="searchField" floatLabel="never">
        <input
          #inputDates
          matInput
          placeholder="Escolha o período"
          [satDatepicker]="picker"
          [formControl]="date"
          [readonly]="true"
          (focus)="picker.open()"
        />
        <sat-datepicker
          #picker
          [rangeMode]="true"
          [closeAfterSelection]="false"
          (closed)="inputDates.blur()"
        >
        </sat-datepicker>
        <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
      </mat-form-field>
    </div>

    <div>
      <button
        mat-raised-button
        color="primary"
        class="searchButton"
        [routerLink]="[
          searchValidate() ? '/searchResult/' + myControl.value : ''
        ]"
        [queryParams]="{
          begin: formatDate(date.value.begin),
          end: formatDate(date.value.end)
        }"
      >
        Procurar
      </button>
    </div>
  </div>
</form>
