<mat-dialog-content class="mat-typography" #locationDialog>
  <div
    fxFlex="100"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutGap="16px"
    fxLayoutGap.sm="0px"
    fxLayoutGap.xs="0px"
    fxLayoutAlign="start center"
    fxLayoutAlign.sm="center stretch"
    fxLayoutAlign.xs="center stretch"
  >
    <mat-icon>search</mat-icon>
    <div fxFlex="100">
      <mat-form-field class="searchField" floatLabel="never">
        <input
          type="text"
          placeholder="Pesquise por cidade ou local"
          matInput
          matGoogleMapsAutocomplete
          [formControl]="googleMapAutocomplete"
          country="br"
          type="address"
          (onAutocompleteSelected)="onAutocompleteSelected($event)"
          (onLocationSelected)="onLocationSelected($event)"
        />
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button mat-dialog-close>Cancelar</button>
  <button
    mat-flat-button
    [mat-dialog-close]="true"
    cdkFocusInitial
    color="primary"
  >
    Pesquisar
  </button>
</mat-dialog-actions>
