<div class="container politics">
  <div
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="1rem"
    class="padding-16 margin-16-tb"
  >
    <div [style.text-align]="'center'">
      <h1>POLÍTICA DE PRIVACIDADE</h1>
    </div>

    <p>
      O site de internet <b>www.passticket.com.br</b>, não cede ou comercializa,
      sob nenhuma forma, qualquer informação individual de seus usuários sem
      expressa autorização dos mesmos. A PassTicket garante aos seus usuários
      total transparência e controle sobre a coleta e uso de suas informações
      individuais.
    </p>

    <p>
      Nós jamais divulgamos a terceiros os dados individuais de nossos usuários,
      salvo após sua expressa autorização. Contudo, divulgamos informações
      globais e genéricas sobre o conjunto, ou subconjuntos, de nossa população
      de usuários. Assim, não informamos um endereço, mas podemos eventualmente
      divulgar a distribuição regional de nossos visitantes. Por exemplo:
      podemos divulgar a distribuição entre homens e mulheres, distribuição por
      localidade, além de outras características gerais, sem identificá-los
      individualmente.
    </p>

    <p>
      Caso tenha concordado separadamente em receber nossa newsletter, seu
      endereço de e-mail será armazenado e utilizado para o envio de e-mails com
      eventos das lojas “virtuais” de “vendas de ingressos”, até que o usuário
      opte por descadastrar a assinatura da newsletter.
    </p>

    <p>
      Por meio do link “Contato” situado no site, é possível nos enviar questões
      de qualquer natureza. Para processar esses dados, coletaremos suas
      informações de contato (nome, endereço de e-mail e telefone). Esses dados
      e a correspondência por nós enviada serão armazenados e usados
      exclusivamente para os fins pelos quais foram enviados e para melhorar
      nosso serviço.
    </p>

    <p>
      A PassTicket poderá alterar esta Política de Privacidade periodicamente,
      porém, esta não reduzirá de forma alguma seus efeitos. Qualquer alteração
      efetuada será devidamente publicada nesta página, e, caso as alterações
      forem significativas, a PassTicket colocará um aviso com mais destaque em
      seu site. Ainda, manterá as versões anteriores da presente Política de
      Privacidade arquivadas para que o usuário possa sempre consultá-las.
    </p>
  </div>
</div>
