.banner {
  background-image: url("/assets/images/home-background.jpg");
  background-size: cover;
  margin-bottom: 20px;
  padding: 1rem;
  .search-bar {
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    background: #ffffff;
    border-radius: 10px;
    padding: 10px 20px;
  }
  .title {
    font-weight: bold;
    h1,
    span {
      color: #ffffff;
    }
  }
  .logo-left {
    height: 100%;
    border-right: 1px solid white;
    margin-right: 20px;
  }
  .logo-home {
    max-width: 240px;
  }
}
.city {
  h2 {
    margin: 0;
  }
  margin-bottom: 20px;
}
