<div class="margin-24-b"></div>

<button mat-button color="primary" (click)="backClicked()" class="margin-16-b">
  <mat-icon>keyboard_arrow_left</mat-icon>
  Voltar
</button>

<div
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutGap="1rem"
  *ngIf="evento"
>
  <div fxFlex.sm fxFlex.xs>
    <mat-card>
      <div fxLayout="row" fxLayoutAlign="center center">
        <div
          class="event-img"
          [style.background-image]="'url(' + evento.poster + ')'"
        ></div>
      </div>
      <mat-card-content>
        <div fxLayout="column">
          <h2>{{ evento.titulo }}</h2>
          <span>
            {{ evento.d_date | date: "MMM" }} {{ evento.d_date | date: "dd" }},
            {{ evento.d_date | date: "yyyy" }}
          </span>
          <h4 style="margin-top: 0">{{ evento.local }}</h4>
          <div
            fxLayout="column"
            fxLayoutAlign="center stretch"
            fxLayoutGap="1rem"
          >
            <button
              mat-raised-button
              color="primary"
              (click)="goToBuyTickets()"
            >
              Obter ingressos
            </button>
            <button
              mat-raised-button
              color="accent"
              (click)="copyText(evento.link)"
            >
              <mat-icon>share</mat-icon>
              Compartilhar
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.sm fxFlex.xs>
    <mat-card>
      <mat-card-content>
        <div fxLayout="column">
          <h2 style="margin: 0">{{ evento.titulo }}</h2>
          <mat-list fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
            <mat-list-item>
              <mat-icon mat-list-icon>watch_later</mat-icon>
              <div mat-line>
                {{ evento.data | date: "EEEE, MMMM dd, yyyy" }}
              </div>
              <div mat-line>{{ evento.hora_inicio }}</div>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>place</mat-icon>
              <div mat-line>
                {{ evento.local }}
              </div>
            </mat-list-item>
          </mat-list>
          <div [innerHTML]="evento.descricao"></div>
        </div>
      </mat-card-content>
    </mat-card>
    <p>Encontre hotéis e aluguéis de temporada perto de {{ evento.local }}</p>
    <iframe
      id="stay22-widget"
      width="100%"
      height="460"
      frameborder="0"
      [src]="url | safe"
    ></iframe>
  </div>
</div>
