.event-img {
  height: 270px;
  width: 270px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sidenav {
  width: 100%;
  max-width: 300px;
}

.content {
  width: 100%;
  max-width: 720px;
}
